# Xcode
.DS_Store
build/
*.xcuserstate
*.xcuserdatad
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
